.banner {
    height: var(--banner-height) !important;
    max-height: var(--banner-height) !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
}

#CREATE-NEW-ONE {
    border: 1px dotted;
}