.banner {
    height: var(--banner-height) !important;
    max-height: var(--banner-height) !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

@media (max-width: 390px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }

    .highlight-title {
        font-weight: 500 !important;
        font-size: clamp(12px, 0.7rem, 18px) !important;
    }

    .mini-card {
        margin: 8px; 
        width: calc(100% - (8px *2));
        height: 200px;
    }
}